In [1]:
import pandas as pd

In [2]:
# Update sklearn to prevent version mismatches
#!pip install sklearn --upgrade

Collecting sklearn
Requirement already satisfied, skipping upgrade: scikit-learn in c:\users\avina\anaconda3\lib\site-packages (from sklearn) (0.21.3)
Requirement already satisfied, skipping upgrade: joblib>=0.11 in c:\users\avina\anaconda3\lib\site-packages (from scikit-learn->sklearn) (0.13.2)
Requirement already satisfied, skipping upgrade: scipy>=0.17.0 in c:\users\avina\anaconda3\lib\site-packages (from scikit-learn->sklearn) (1.4.1)
Requirement already satisfied, skipping upgrade: numpy>=1.11.0 in c:\users\avina\anaconda3\lib\site-packages (from scikit-learn->sklearn) (1.16.5)
Installing collected packages: sklearn
Successfully installed sklearn-0.0

In [2]:
import pandas as pd
import numpy as np

In [10]:
# import tensorflow
# tensorflow.keras.__version__

In [3]:
df = pd.read_csv("PS_20174392719_1491204439457_log.csv")
# Drop the null columns where all values are null
df = df.dropna(axis='columns', how='all')
# Drop the null rows
df = df.dropna()

df.head()

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,1,PAYMENT,9839.64,C1231006815,170136.0,160296.36,M1979787155,0.0,0.0,0,0
1,1,PAYMENT,1864.28,C1666544295,21249.0,19384.72,M2044282225,0.0,0.0,0,0
2,1,TRANSFER,181.00,C1305486145,181.0,0.00,C553264065,0.0,0.0,1,0
3,1,CASH_OUT,181.00,C840083671,181.0,0.00,C38997010,21182.0,0.0,1,0
4,1,PAYMENT,11668.14,C2048537720,41554.0,29885.86,M1230701703,0.0,0.0,0,0

In [4]:
df = df.drop(columns =["nameOrig", "nameDest", "isFlaggedFraud"])
df

,step,type,amount,oldbalanceOrg,newbalanceOrig,oldbalanceDest,newbalanceDest,isFraud
0,1,PAYMENT,9839.64,170136.00,160296.36,0.00,0.00,0
1,1,PAYMENT,1864.28,21249.00,19384.72,0.00,0.00,0
2,1,TRANSFER,181.00,181.00,0.00,0.00,0.00,1
3,1,CASH_OUT,181.00,181.00,0.00,21182.00,0.00,1
4,1,PAYMENT,11668.14,41554.00,29885.86,0.00,0.00,0
...,...,...,...,...,...,...,...,...
6362615,743,CASH_OUT,339682.13,339682.13,0.00,0.00,339682.13,1
6362616,743,TRANSFER,6311409.28,6311409.28,0.00,0.00,0.00,1
6362617,743,CASH_OUT,6311409.28,6311409.28,0.00,68488.84,6379898.11,1
6362618,743,TRANSFER,850002.52,850002.52,0.00,0.00,0.00,1
6362619,743,CASH_OUT,850002.52,850002.52,0.00,6510099.11,7360101.63,1

In [5]:
clean_df =pd.get_dummies(df, prefix=["type"])
clean_df

,step,amount,oldbalanceOrg,newbalanceOrig,oldbalanceDest,newbalanceDest,isFraud,type_CASH_IN,type_CASH_OUT,type_DEBIT,type_PAYMENT,type_TRANSFER
0,1,9839.64,170136.00,160296.36,0.00,0.00,0,0,0,0,1,0
1,1,1864.28,21249.00,19384.72,0.00,0.00,0,0,0,0,1,0
2,1,181.00,181.00,0.00,0.00,0.00,1,0,0,0,0,1
3,1,181.00,181.00,0.00,21182.00,0.00,1,0,1,0,0,0
4,1,11668.14,41554.00,29885.86,0.00,0.00,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
6362615,743,339682.13,339682.13,0.00,0.00,339682.13,1,0,1,0,0,0
6362616,743,6311409.28,6311409.28,0.00,0.00,0.00,1,0,0,0,0,1
6362617,743,6311409.28,6311409.28,0.00,68488.84,6379898.11,1,0,1,0,0,0
6362618,743,850002.52,850002.52,0.00,0.00,0.00,1,0,0,0,0,1
6362619,743,850002.52,850002.52,0.00,6510099.11,7360101.63,1,0,1,0,0,0

In [14]:
#df["nameDest"].nunique()

In [18]:
clean_df.shape

(6362620, 12)

In [21]:
clean_df[::4].shape

clean_df.to_csv("1_in_4.csv")

In [15]:
import matplotlib.pyplot as plt
%matplotlib inline

In [6]:
X = clean_df.drop(["isFraud"], axis=1)
y = clean_df["isFraud"]
print(X.shape, y.shape)

(6362620, 11) (6362620,)

In [8]:
X[:5]

,step,amount,oldbalanceOrg,newbalanceOrig,oldbalanceDest,newbalanceDest,type_CASH_IN,type_CASH_OUT,type_DEBIT,type_PAYMENT,type_TRANSFER
0,1,9839.64,170136.0,160296.36,0.0,0.0,0,0,0,1,0
1,1,1864.28,21249.0,19384.72,0.0,0.0,0,0,0,1,0
2,1,181.00,181.0,0.00,0.0,0.0,0,0,0,0,1
3,1,181.00,181.0,0.00,21182.0,0.0,0,1,0,0,0
4,1,11668.14,41554.0,29885.86,0.0,0.0,0,0,0,1,0

In [9]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()

In [10]:
scaler.fit(X)

MinMaxScaler(copy=True, feature_range=(0, 1))

In [11]:
X_scale = scaler.transform(X)
X_scale[:5]

array([[0.00000000e+00, 1.06437179e-04, 2.85534757e-03, 3.23275647e-03,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 1.00000000e+00, 0.00000000e+00],
       [0.00000000e+00, 2.01662565e-05, 3.56616357e-04, 3.90938877e-04,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 1.00000000e+00, 0.00000000e+00],
       [0.00000000e+00, 1.95790998e-06, 3.03767521e-06, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 1.00000000e+00],
       [0.00000000e+00, 1.95790998e-06, 3.03767521e-06, 0.00000000e+00,
        5.94973445e-05, 0.00000000e+00, 0.00000000e+00, 1.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00],
       [0.00000000e+00, 1.26216397e-04, 6.97389810e-04, 6.02719283e-04,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 1.00000000e+00, 0.00000000e+00]])

In [12]:
pd.DataFrame(X_scale)

,0,1,2,3,4,5,6,7,8,9,10
0,0.0,0.000106,0.002855,0.003233,0.000000,0.000000,0.0,0.0,0.0,1.0,0.0
1,0.0,0.000020,0.000357,0.000391,0.000000,0.000000,0.0,0.0,0.0,1.0,0.0
2,0.0,0.000002,0.000003,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,1.0
3,0.0,0.000002,0.000003,0.000000,0.000059,0.000000,0.0,1.0,0.0,0.0,0.0
4,0.0,0.000126,0.000697,0.000603,0.000000,0.000000,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
6362615,1.0,0.003674,0.005701,0.000000,0.000000,0.000954,0.0,1.0,0.0,0.0,0.0
6362616,1.0,0.068272,0.105923,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,1.0
6362617,1.0,0.068272,0.105923,0.000000,0.000192,0.017912,0.0,1.0,0.0,0.0,0.0
6362618,1.0,0.009195,0.014265,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,1.0
6362619,1.0,0.009195,0.014265,0.000000,0.018286,0.020664,0.0,1.0,0.0,0.0,0.0

In [13]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
    X_scale, y, random_state=42)

In [15]:
from sklearn.naive_bayes import GaussianNB

model = GaussianNB()

model.fit(X_train, y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

In [16]:
print(f"Training Data Score: {model.score(X_train, y_train)}")
print(f"Testing Data Score: {model.score(X_test, y_test)}")

Training Data Score: 0.5657189438732262
Testing Data Score: 0.5663308511273658

In [7]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, MinMaxScaler
# from tensorflow.keras.utils import to_categorical

In [21]:
X_train, X_test, y_train, y_test = train_test_split(
    X, y)

In [22]:
# import joblib 
# model = joblib.load('BankFraudDetection.sav')

In [1]:
from sklearn.svm import SVC 
model = SVC(kernel="linear")
#model.fit(X_train, y_train)

In [ ]:
import joblib
filename = 'BankFraudDetection2.sav'
joblib.dump(model, filename)

In [ ]:
print(f"Training Data Score: {model.score(X_train, y_train)}")
print(f"Testing Data Score: {model.score(X_test, y_test)}")

In [ ]:
from sklearn.metrics import recall_score, precision_score, f1_score, accuracy_score

In [ ]:
# from sklearn.metrics import confusion_matrix

In [ ]:
# confusion_matrix(y_test, model.predict(X_test))

In [ ]:
print(X_train.columns)

In [ ]:
print(y_train.value_counts())

In [ ]:
print(f"Training Data Score: {precision_score(y_train, model.predict(X_train))}")
print(f"Testing Data Score: {precision_score(y_test, model.predict(X_test))}")

In [ ]:
print(f"Training Data Score: {recall_score(y_train, model.predict(X_train))}")
print(f"Testing Data Score: {recall_score(y_test, model.predict(X_test))}")

In [ ]:
from sklearn.metrics import recall_score, precision_score, f1_score, accuracy_score
print(f"Training Data Score: {f1_score(y_train, model.predict(X_train))}")
print(f"Testing Data Score: {f1_score(y_test, model.predict(X_test))}")

In [ ]:
print(f"Training Data Score: {accuracy_score(y_train, model.predict(X_train))}")
print(f"Testing Data Score: {accuracy_score(y_test, model.predict(X_test))}")

In [ ]:

clean_df

In [ ]:
datapoint_df = clean_df[["isFraud", "isFlaggedFraud", "type_CASH_IN", "type_CASH_OUT", "type_DEBIT", "type_PAYMENT", "type_TRANSFER"]].sum()
datapoint_df

In [ ]:
datapoint_stats_df = clean_df["isFraud"].value_counts(normalize=True) * 100
datapoint_stats_df