In [1]:
import pandas as pd

In [2]:
# Update sklearn to prevent version mismatches
!pip install sklearn --upgrade

Requirement already up-to-date: sklearn in c:\users\avina\onedrive\desktop\ml_env\venv\lib\site-packages (0.0)

You are using pip version 19.0.3, however version 20.2b1 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.

Requirement already satisfied, skipping upgrade: scikit-learn in c:\users\avina\onedrive\desktop\ml_env\venv\lib\site-packages (from sklearn) (0.23.1)
Requirement already satisfied, skipping upgrade: threadpoolctl>=2.0.0 in c:\users\avina\onedrive\desktop\ml_env\venv\lib\site-packages (from scikit-learn->sklearn) (2.1.0)
Requirement already satisfied, skipping upgrade: joblib>=0.11 in c:\users\avina\onedrive\desktop\ml_env\venv\lib\site-packages (from scikit-learn->sklearn) (0.16.0)
Requirement already satisfied, skipping upgrade: numpy>=1.13.3 in c:\users\avina\onedrive\desktop\ml_env\venv\lib\site-packages (from scikit-learn->sklearn) (1.19.0)
Requirement already satisfied, skipping upgrade: scipy>=0.19.1 in c:\users\avina\onedrive\desktop\ml_env\venv\lib\site-packages (from scikit-learn->sklearn) (1.4.1)

In [3]:
import pandas as pd
import numpy as np

In [3]:
import tensorflow
tensorflow.keras.__version__

'2.2.4-tf'

In [4]:
df = pd.read_csv("PS_20174392719_1491204439457_log.csv")
# Drop the null columns where all values are null
df = df.dropna(axis='columns', how='all')
# Drop the null rows
df = df.dropna()

df.head()

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,1,PAYMENT,9839.64,C1231006815,170136.0,160296.36,M1979787155,0.0,0.0,0,0
1,1,PAYMENT,1864.28,C1666544295,21249.0,19384.72,M2044282225,0.0,0.0,0,0
2,1,TRANSFER,181.00,C1305486145,181.0,0.00,C553264065,0.0,0.0,1,0
3,1,CASH_OUT,181.00,C840083671,181.0,0.00,C38997010,21182.0,0.0,1,0
4,1,PAYMENT,11668.14,C2048537720,41554.0,29885.86,M1230701703,0.0,0.0,0,0

In [5]:
df = df.drop(columns =["nameOrig", "nameDest"])
df

,step,type,amount,oldbalanceOrg,newbalanceOrig,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,1,PAYMENT,9839.64,170136.00,160296.36,0.00,0.00,0,0
1,1,PAYMENT,1864.28,21249.00,19384.72,0.00,0.00,0,0
2,1,TRANSFER,181.00,181.00,0.00,0.00,0.00,1,0
3,1,CASH_OUT,181.00,181.00,0.00,21182.00,0.00,1,0
4,1,PAYMENT,11668.14,41554.00,29885.86,0.00,0.00,0,0
...,...,...,...,...,...,...,...,...,...
6362615,743,CASH_OUT,339682.13,339682.13,0.00,0.00,339682.13,1,0
6362616,743,TRANSFER,6311409.28,6311409.28,0.00,0.00,0.00,1,0
6362617,743,CASH_OUT,6311409.28,6311409.28,0.00,68488.84,6379898.11,1,0
6362618,743,TRANSFER,850002.52,850002.52,0.00,0.00,0.00,1,0
6362619,743,CASH_OUT,850002.52,850002.52,0.00,6510099.11,7360101.63,1,0

In [6]:
clean_df =pd.get_dummies(df, prefix=["type"])
clean_df

,step,amount,oldbalanceOrg,newbalanceOrig,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud,type_CASH_IN,type_CASH_OUT,type_DEBIT,type_PAYMENT,type_TRANSFER
0,1,9839.64,170136.00,160296.36,0.00,0.00,0,0,0,0,0,1,0
1,1,1864.28,21249.00,19384.72,0.00,0.00,0,0,0,0,0,1,0
2,1,181.00,181.00,0.00,0.00,0.00,1,0,0,0,0,0,1
3,1,181.00,181.00,0.00,21182.00,0.00,1,0,0,1,0,0,0
4,1,11668.14,41554.00,29885.86,0.00,0.00,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6362615,743,339682.13,339682.13,0.00,0.00,339682.13,1,0,0,1,0,0,0
6362616,743,6311409.28,6311409.28,0.00,0.00,0.00,1,0,0,0,0,0,1
6362617,743,6311409.28,6311409.28,0.00,68488.84,6379898.11,1,0,0,1,0,0,0
6362618,743,850002.52,850002.52,0.00,0.00,0.00,1,0,0,0,0,0,1
6362619,743,850002.52,850002.52,0.00,6510099.11,7360101.63,1,0,0,1,0,0,0

In [8]:
#df["nameDest"].nunique()

In [9]:
import matplotlib.pyplot as plt
%matplotlib inline

In [10]:
X = clean_df.drop(["isFraud"], axis=1)
y = clean_df["isFraud"]
print(X.shape, y.shape)

(6362620, 12) (6362620,)

In [11]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, MinMaxScaler
from tensorflow.keras.utils import to_categorical

In [12]:
X_train, X_test, y_train, y_test = train_test_split(
    X, y)

In [13]:
import joblib 
model = joblib.load('BankFraudDetection.sav')

In [22]:
# from sklearn.svm import SVC 
# model = SVC(kernel="rbf")
# model.fit(X_train, y_train)

SVC()

In [23]:
import joblib
filename = 'BankFraudDetection.sav'
joblib.dump(model, filename)

['BankFraudDetection.sav']

In [14]:
print(f"Training Data Score: {model.score(X_train, y_train)}")
print(f"Testing Data Score: {model.score(X_test, y_test)}")

Training Data Score: 0.9991571606246065
Testing Data Score: 0.9991550650518183

In [16]:
from sklearn.metrics import recall_score, precision_score, f1_score, accuracy_score

In [50]:
# from sklearn.metrics import confusion_matrix

In [ ]:
# confusion_matrix(y_test, model.predict(X_test))

In [42]:
print(X_train.columns)

Index(['step', 'amount', 'oldbalanceOrg', 'newbalanceOrig', 'oldbalanceDest',
       'newbalanceDest', 'isFlaggedFraud', 'type_CASH_IN', 'type_CASH_OUT',
       'type_DEBIT', 'type_PAYMENT', 'type_TRANSFER'],
      dtype='object')

In [48]:
print(y_train.value_counts())

0    4765824
1       6141
Name: isFraud, dtype: int64

In [17]:
print(f"Training Data Score: {precision_score(y_train, model.predict(X_train))}")
print(f"Testing Data Score: {precision_score(y_test, model.predict(X_test))}")

Training Data Score: 0.9868718877320054
Testing Data Score: 0.9860335195530726

In [18]:
print(f"Training Data Score: {recall_score(y_train, model.predict(X_train))}")
print(f"Testing Data Score: {recall_score(y_test, model.predict(X_test))}")

Training Data Score: 0.35315081807872994
Testing Data Score: 0.346078431372549

In [19]:
from sklearn.metrics import recall_score, precision_score, f1_score, accuracy_score
print(f"Training Data Score: {f1_score(y_train, model.predict(X_train))}")
print(f"Testing Data Score: {f1_score(y_test, model.predict(X_test))}")

Training Data Score: 0.520162252445717
Testing Data Score: 0.5123367198838896

In [20]:
print(f"Training Data Score: {accuracy_score(y_train, model.predict(X_train))}")
print(f"Testing Data Score: {accuracy_score(y_test, model.predict(X_test))}")

Training Data Score: 0.9991571606246065
Testing Data Score: 0.9991550650518183

In [29]:

clean_df

,step,amount,oldbalanceOrg,newbalanceOrig,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud,type_CASH_IN,type_CASH_OUT,type_DEBIT,type_PAYMENT,type_TRANSFER
0,1,9839.64,170136.00,160296.36,0.00,0.00,0,0,0,0,0,1,0
1,1,1864.28,21249.00,19384.72,0.00,0.00,0,0,0,0,0,1,0
2,1,181.00,181.00,0.00,0.00,0.00,1,0,0,0,0,0,1
3,1,181.00,181.00,0.00,21182.00,0.00,1,0,0,1,0,0,0
4,1,11668.14,41554.00,29885.86,0.00,0.00,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6362615,743,339682.13,339682.13,0.00,0.00,339682.13,1,0,0,1,0,0,0
6362616,743,6311409.28,6311409.28,0.00,0.00,0.00,1,0,0,0,0,0,1
6362617,743,6311409.28,6311409.28,0.00,68488.84,6379898.11,1,0,0,1,0,0,0
6362618,743,850002.52,850002.52,0.00,0.00,0.00,1,0,0,0,0,0,1
6362619,743,850002.52,850002.52,0.00,6510099.11,7360101.63,1,0,0,1,0,0,0

In [34]:
datapoint_df = clean_df[["isFraud", "isFlaggedFraud", "type_CASH_IN", "type_CASH_OUT", "type_DEBIT", "type_PAYMENT", "type_TRANSFER"]].sum()
datapoint_df

isFraud              8213
isFlaggedFraud         16
type_CASH_IN      1399284
type_CASH_OUT     2237500
type_DEBIT          41432
type_PAYMENT      2151495
type_TRANSFER      532909
dtype: int64

In [38]:
datapoint_stats_df = clean_df["isFraud"].value_counts(normalize=True) * 100
datapoint_stats_df

0    99.870918
1     0.129082
Name: isFraud, dtype: float64